body{
    padding: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background: #374151
}

.actions{
    border:none;
    appearance:none;
    background:yellow;
    outline:none;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 0.25rem;
}

#name-entry, #number-entry{
    background: #1F2937;
    outline: none;
    border:none;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}

.contact-name, .contact-num{
    padding: 1rem;
    display:inline-block;
    width:195px;
    border-radius: 1rem;
    border:none;
    background: #111827;
    color:white;
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
}
